<a href="https://colab.research.google.com/github/edbertocampo/ITBA3206-PROJECT-GAIA/blob/main/Climate_Change_in_the_Philippines_through_the_Years.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Climate Change in the Philippines through the Years

This analysis focuses on the eleventh (11) and thirteenth (13) SDG which is the sustainable cities and cities and climate action. The objective of this analysis is to observe the changes of the Philippine temperature. The datasets are from Climate Change Knowledge Portal which will guide the analysis to procure the requisite of the yearly changes from 1901 - 2020. This study will be the evidence that if the Filipino will consistently neglect the nature it will cause an extreme climate change in the future.

# Importing all the libraries needed in the analysis

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import csv

# Uploading the datasets (.csv files)

In [3]:
annual_mean = 'https://github.com/edbertocampo/ITBA3206-PROJECT-GAIA/raw/main/datasets/tas_timeseries_annual_cru_1901-2020_PHL.csv'
annual_min = 'https://github.com/edbertocampo/ITBA3206-PROJECT-GAIA/raw/main/datasets/tasmin_timeseries_annual_cru_1901-2020_PHL.csv'
annual_max = 'https://github.com/edbertocampo/ITBA3206-PROJECT-GAIA/raw/main/datasets/tasmax_timeseries_annual_cru_1901-2020_PHL.csv'
monthly_mean = 'https://github.com/edbertocampo/ITBA3206-PROJECT-GAIA/raw/main/datasets/tas_timeseries_monthly_cru_1901-2020_PHL.csv'
monthly_min = 'https://github.com/edbertocampo/ITBA3206-PROJECT-GAIA/raw/main/datasets/tasmin_timeseries_monthly_cru_1901-2020_PHL.csv' 
monthly_max = 'https://github.com/edbertocampo/ITBA3206-PROJECT-GAIA/raw/main/datasets/tasmax_timeseries_monthly_cru_1901-2020_PHL.csv'
annual_precipitation = 'https://github.com/edbertocampo/ITBA3206-PROJECT-GAIA/raw/main/datasets/pr_timeseries_annual_cru_1901-2020_PHL.csv'
monthly_precipitation = 'https://github.com/edbertocampo/ITBA3206-PROJECT-GAIA/raw/main/datasets/pr_timeseries_monthly_cru_1901-2020_PHL.csv'
climatology_1 = 'https://github.com/edbertocampo/ITBA3206-PROJECT-GAIA/raw/main/datasets/tas_climatology_annual-monthly_cru_1901-1930_PHL.csv'
climatology_2 = 'https://github.com/edbertocampo/ITBA3206-PROJECT-GAIA/raw/main/datasets/tas_climatology_annual-monthly_cru_1931-1960_PHL.csv'
climatology_3 = 'https://github.com/edbertocampo/ITBA3206-PROJECT-GAIA/raw/main/datasets/tas_climatology_annual-monthly_cru_1961-1990_PHL.csv'
climatology_4 = 'https://github.com/edbertocampo/ITBA3206-PROJECT-GAIA/raw/main/datasets/tas_climatology_annual-monthly_cru_1991-2020_PHL.csv'

# Reading and Printing the datasets(.csv files)

In [4]:
annualmean =  pd.read_csv(annual_mean)
annualmin = pd.read_csv(annual_min)
annualmax = pd.read_csv(annual_max)
monthlymean =  pd.read_csv(monthly_mean)
monthlymin = pd.read_csv(monthly_min)
monthlymax = pd.read_csv(monthly_max)
annualprecipitation = pd.read_csv(annual_precipitation)
monthlyprecipitation = pd.read_csv(monthly_precipitation)
climatology1 = pd.read_csv(climatology_1)
climatology2 = pd.read_csv(climatology_2)
climatology3 = pd.read_csv(climatology_3)
climatology4 = pd.read_csv(climatology_4)

# Renaming Annual Mean Header

In [5]:
annualmean.rename(columns={'Cordillera Administrative region (CAR)' : 'CAR', 'National Capital region (NCR)' : 'NCR', 
                       'Region I (Ilocos region)' : 'Ilocos_Region', 'Region II (Cagayan Valley)' : 'Cagayan_Valley', 'Region V (Bicol region)' : 'Bicol_Region', 
                       'Region VI (Western Visayas)' : 'Western_Visayas', 'Region VII (Central Visayas)' : 'Central_Visayas', 'Region VIII (Eastern Visayas)' : 'Eastern_Visayas',
                       'Region XIII (Caraga)' :'Caraga', 'Autonomous region in Muslim Mindanao (ARMM)' : 'ARMM', 'Region IX (Zamboanga Peninsula)' : 'Zamboanga_Peninsula', 
                       'Region X (Northern Mindanao)' : 'Northern_Mindanao', 'Region XI (Davao Region)' : 'Davao_Region', 'Region XII (Soccsksargen)' : 'SOCCSKSARGEN',
                       'Region III (Central Luzon)' : 'Central_Luzon', 'Region IV-A (Calabarzon)' : 'CALABARZON', 'Region IV (Southern Tagalog)' : 'Southern_Tagalog'}, inplace=True)
annualmean

,Year,Philippines,CAR,NCR,Ilocos_Region,Cagayan_Valley,Bicol_Region,Western_Visayas,Central_Visayas,Eastern_Visayas,Caraga,ARMM,Zamboanga_Peninsula,Northern_Mindanao,Davao_Region,SOCCSKSARGEN,Central_Luzon,CALABARZON,Southern_Tagalog
0,1901,25.44,22.63,26.25,24.46,24.26,26.87,26.89,26.98,26.87,25.97,25.41,26.71,24.53,24.82,25.03,25.42,26.38,26.23
1,1902,25.43,22.85,26.30,24.67,24.46,26.77,26.71,26.83,26.71,25.90,25.34,26.62,24.44,24.78,24.99,25.54,26.39,26.09
2,1903,25.10,22.58,26.00,24.35,24.19,26.36,26.27,26.46,26.27,25.59,25.05,26.31,24.13,24.50,24.69,25.23,26.09,25.73
3,1904,24.49,22.10,25.40,23.85,23.70,25.67,25.54,25.75,25.56,24.97,24.43,25.63,23.47,23.95,24.14,24.65,25.45,25.04
4,1905,24.85,22.49,25.80,24.25,24.10,26.06,25.91,26.11,25.94,25.29,24.76,25.96,23.82,24.26,24.45,25.07,25.84,25.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2016,26.36,24.02,27.24,25.74,25.64,27.52,27.42,27.61,27.44,26.80,26.34,27.54,25.37,25.74,26.01,26.52,27.28,26.79
116,2017,25.91,23.72,26.83,25.46,25.31,27.06,26.94,27.10,26.95,26.30,25.81,27.03,24.83,25.24,25.46,26.15,26.85,26.38
117,2018,26.11,23.80,26.95,25.57,25.38,27.25,27.14,27.35,27.20,26.59,26.07,27.27,25.13,25.53,25.77,26.28,27.00,26.50
118,2019,26.18,24.01,27.01,25.76,25.57,27.29,27.20,27.40,27.25,26.59,26.12,27.32,25.16,25.52,25.79,26.37,27.04,26.55
119,2020,26.30,24.18,27.23,25.93,25.75,27.49,27.31,27.50,27.41,26.64,26.15,27.38,25.22,25.54,25.82,26.58,27.26,26.66